#active{

}

#bold{
  font-weight: bold;
}

#italic{
  font-style: italic;
}

#underline{

}

.text{
  display: inline-block;
  float: right;
  resize: none;
}

#btns{
  border-style: solid;
  border-width: 1px;
  float: left;
}