[draggable=true]{
	cursor: move;
}

#active{

}

#bold{
  font-weight: bold;
}

#italic{
  font-style: italic;
}

#underline{

}

#draggable{
  border-style: solid;
  border-width: 1px;
  float: left;
}